.additional__title {
  font-size: 24px;
  line-height: 24px;
  color: @text-black;
  font-family: @oswald;
  font-weight: 400;
}

.additional__list {
  list-style: none;
}

.additional__good {
  font-size: 16px;
  line-height: 16px;
  font-family: @oswald;
  font-weight: 400;
  color: @light-black;
  text-transform: uppercase;
}

.additional__value {
  font-size: 14px;
  line-height: 14px;
  font-family: @arial;
  color: @text-grey;
}

@media (min-width: @tablet-width) {
  .additional__item {
    width: 100%;
    display: flex;
  }

  .additional__button {
    flex-grow: 1;
    display: flex;
  }

  .additional__table {
    padding-left: 255px;
    padding-top: 15px;
  }

  .additional__value {
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .additional__button {
    flex-grow: 0;
  }

  .additional__table {
    padding-left: 160px;
    width: 405px;
  }

  .additional__value {
    padding-right: 110px;
  }

  .additional__good {
    width: 180px;
  }

  .additional {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additional__title {
    width: 100%;
  }
}
