.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-family: @oswald;
  font-weight: 400;
  color: @text-black;
}

.catalog__good {
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  font-weight: 400;
  color: @text-black;
  text-transform: uppercase;
}

.catalog__value {
  font-size: 12px;
  line-height: 16px;
  font-family: @arial;
  font-weight: 400;
  color: @text-grey;
}

.catalog__list {
  list-style: none;
}

.catalog__button {
  background-color: @bg-green;
  font-size: 16px;
  line-height: 20px;
  color: @text-white;
  font-family: @oswald;
  font-weight: 400;
  width: 280px;
  padding: 10px 0;
  border: none;
  text-transform: uppercase;
}

.catalog__bigtext {
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  font-weight: 400px;
  color: @text-black;
  text-transform: uppercase;
}

.catalog__smalltext {
  font-size: 12px;
  line-height: 16px;
  font-family: @arial;
  color: @text-grey;
}

.catalog__extrabutton {
  background-color: @bg-grey;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  color: @text-grey;
  text-transform: uppercase;
  width: 280px;
  padding: 10px 0;
}
