.contacts {
  background-color: @bg-white;
}

.contacts__partnership {
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  font-weight: 400;
  color: @text-black;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-family: @arial;
  color: @text-grey;
}
