.main-form__description {
  font-size: 14px;
  line-height: 18px;
  font-family: @oswald;
  font-weight: 400;
  color: @text-black;
  text-transform: uppercase;
}

.main-form__note {
  font-size: 14px;
  line-height: 16px;
  font-family: @arial;
  color: @text-grey;
}

@media (min-width: @tablet-width) {
  .main-form__main-button {
    display: flex;
    justify-content: space-around;
  }

  .extra__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .extra__item {
    width: 325px;
  }
}

@media (min-width: @desktop-width) {
  .programme__form {
    display: flex;
    flex-wrap: wrap;
  }

  .main-form__text,
  .main-form__type {
    width: 50%;
  }

  .main-form__yourcontact,
  .main-form__comment,
  .main-form__extra {
    width: 100%;
  }

  .extra__list {
    display: flex;
    justify-content: space-between;
  }

  .extra__item {
    width: 245px;
  }

  .main-form__yourcontact {
    display: flex;
    justify-content: space-between;
  }
}
