.main-form__description {
  font-size: 14px;
  line-height: 18px;
  font-family: @oswald;
  font-weight: 400;
  color: @text-black;
  text-transform: uppercase;
}

.main-form__note {
  font-size: 14px;
  line-height: 16px;
  font-family: @arial;
  color: @text-grey;
}
